#### Import Library

In [129]:
import mysql.connector

#### Connecting to database -- mysql.connector.connect(user='username', password='password', host='ipaddress', database='databasename')

In [130]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='Jeev@123',
                              host='localhost',
                              database='world')

#### Execute query object -- connector_obj.cursor()

In [131]:
cursor = cnx.cursor(buffered=True)

#### Query

In [132]:
DB_NAME = 'employees'

TABLES = {}                                      # creating a dictionary which can hold queries
TABLES['employees'] = (
    "CREATE TABLE `employees` (`emp_no` int(11) NOT NULL AUTO_INCREMENT,"
    "  `birth_date` date NOT NULL,"
    "  `first_name` varchar(14) NOT NULL,"
    "  `last_name` varchar(16) NOT NULL,"
    "  `gender` enum('M','F') NOT NULL,"
    "  `hire_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`)"
    ") ENGINE=InnoDB")

#### Capture Exceptions

In [133]:
from mysql.connector import errorcode

#### Executing query -- cursor.execute("query")

In [134]:
def create_database(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))     # create database query
    except mysql.connector.Error as err:                                           # error in creation
        print("Failed creating database: {}".format(err))           
        exit(1)

try:
    cursor.execute("USE {}".format(DB_NAME))                         # use database command
except mysql.connector.Error as err:                                 # will return error if data base does not exists
    print("Database {} does not exists.".format(DB_NAME))
    if err.errno == errorcode.ER_BAD_DB_ERROR:                       # if error was no db
        create_database(cursor)                                      # call function to create DB
        print("Database {} created successfully.".format(DB_NAME))   
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

Database employees does not exists.
Database employees created successfully.

In [135]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:            # error exception if table exists
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

Creating table employees: OK

#### Insert data

In [136]:
from datetime import date, datetime, timedelta
tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO employees (first_name, last_name, hire_date, gender, birth_date) VALUES (%s, %s, %s, %s, %s)")
data_employee = ('Jeevan', 'Venkataramana', tomorrow, 'M', date(1993, 8, 3))
data_employee2 = ('Pranavi', 'Venkataramana', tomorrow, 'F', date(1992, 1, 20))

# Insert new employee
cursor.execute(add_employee, data_employee)
cnx.commit()
cursor.execute(add_employee, data_employee2)
cnx.commit()

#### View -- cursor.execute(query,(tuple of values))

In [137]:

query = ("SELECT last_name, hire_date FROM employees WHERE hire_date BETWEEN %s AND %s")
#query = ("SELECT first_name, last_name, hire_date FROM employees WHERE hire_date BETWEEN %s AND %s")
start_date=date(2017, 1, 1)
end_date=date(2019, 12, 31)
cursor.execute(query,(start_date,end_date))
for (last_name, hire_date) in cursor:
    print("{} was hired on {:%d %b %Y}".format(last_name, hire_date))

Venkataramana was hired on 28 Sep 2018
Venkataramana was hired on 28 Sep 2018

In [138]:
query = ("SELECT emp_no, birth_date, first_name, last_name, gender, hire_date FROM employees WHERE hire_date BETWEEN %s AND %s")
start_date=date(2017, 1, 1)
end_date=date(2019, 12, 31)
cursor.execute(query,(start_date,end_date))
for (emp_no, birth_date, first_name, last_name, gender, hire_date) in cursor:
    print("{} {:%d %b %Y} {} {} {} {:%d %b %Y}".format(emp_no, birth_date, first_name, last_name, gender, hire_date))

1 03 Aug 1993 Jeevan Venkataramana M 28 Sep 2018
2 20 Jan 1992 Pranavi Venkataramana F 28 Sep 2018

In [139]:
query = ("SELECT * FROM employees WHERE hire_date BETWEEN %s AND %s")
start_date=date(2017, 1, 1)
end_date=date(2019, 12, 31)
cursor.execute(query,(start_date,end_date))
for (emp_no, birth_date, first_name, last_name, gender, hire_date) in cursor:
    print("{} {:%d %b %Y} {} {} {} {:%d %b %Y}".format(emp_no, birth_date, first_name, last_name, gender, hire_date))

1 03 Aug 1993 Jeevan Venkataramana M 28 Sep 2018
2 20 Jan 1992 Pranavi Venkataramana F 28 Sep 2018

#### Closing objects

In [140]:
cursor.close()
cnx.close()

#### Error Exceptions

In [128]:
# Import Library

from mysql.connector import Error
from mysql.connector import errorcode

#### except mysql.connector.Error as err:             --if above query results in any error

#### example
#### if err.errno == errorcode.ER_BAD_DB_ERROR:       -- if DB attempted to use doesnot exist

#### errorcode.ER_BAD_TABLE_ERROR --> if table unable to create or not present

#### mysql.connector.Error --> general error

#### errors.DataError --> problems with the data.

#### errors.DatabaseError --> This exception is the default for any MySQL error which does not fit the other exceptions.

#### mysql.connector.IntegrityError --> when the relational integrity of the data is affected. For example, a duplicate key was inserted or a foreign key constraint would fail.

#### mysql.connector.InterfaceError --> This exception is raised for errors originating from Connector/Python itself, not related to the MySQL server.

#### errors.InternalError --> when the MySQL server encounters an internal error

#### errors.OperationalError -->  errors which are related to MySQL operations. For example: too many connections; a host name could not be resolved; bad handshake; server is shutting down, communication errors.

#### mysql.connector.ProgrammingError -->  raised on programming errors, for example when you have a syntax error in your SQL or a table was not found.