# Input

In [7]:
n=input()
print(n)
print(type(n))
print(float(n))

15.645
15.645
<class 'str'>
15.645

In [2]:
n=input()
print(n)
n=n.split()
print(n)
print(type(n))

jeevan venkataramana 123
jeevan venkataramana 123
['jeevan', 'venkataramana', '123']
<class 'list'>

# Output

#### Print float value with precision

In [8]:
i = 78.456484
print("{0:0.3f}".format(i))

78.456

#### Print a list consecutively with a space

In [13]:
a=[1,2,3,4,5]
for i in a:
    print(i,end=" ")

1 2 3 4 5

#### Print a list without loop

In [15]:
a=[1,2,3,4,5]
print(*a,sep=" ")

1 2 3 4 5

#### Print a list by coverting in to a string

In [19]:
a = [1, 2, 3, 4, 5] 
print(str(a))
print(str(a)[1:-1])

[1, 2, 3, 4, 5]
1, 2, 3, 4, 5

#### convert a list of characters in a list to other type

In [24]:
a=['1','2']
a=list(map(int,a))
print(a)

[1, 2]

### N*N arrays

In [26]:
rows=int(input())
a=list()
for i in range(rows):
    temp = list(map(int,input().strip()))
    a.append(temp)
print(a)

3
123
345
543
[[1, 2, 3], [3, 4, 5], [5, 4, 3]]

In [15]:
rows=int(input())
a=list()
for i in range(rows):
    temp = list(map(int,input().split(" ")))
    a.append(temp)
print(a)

3
1 2 3
2 3 4
4 5 6
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]