# Lists

## Defining lists

In [237]:
list1 = ['Jeevan','v',123,1000]
list2=[1,2,3,4,5]
list3=["a","b","c"]

## Accessing elements

In [238]:
print("List1:\t\t", list1, "\n")
print("list1[0]:\t",list1[0],"\n")
print("list1[1:3]:\t",list1[1:3],"\n")
print("list1[:2]:\t",list1[:2],"\n")
print("list1[2:]:\t",list1[2:],"\n")
print("list1[-2]:\t",list1[-2],"\n")
print("list1[-2:]:\t",list1[-2:],"\n")
print("list1[1:100]:\t",list1[1:100],"\n")

List1:		 ['Jeevan', 'v', 123, 1000]

list1[0]:	 Jeevan

list1[1:3]:	 ['v', 123]

list1[:2]:	 ['Jeevan', 'v']

list1[2:]:	 [123, 1000]

list1[-2]:	 123

list1[-2:]:	 [123, 1000]

list1[1:100]:	 ['v', 123, 1000]

## Updating element in List

In [239]:
list1[1]="Venkataramana"
print("list1:\t",list1,"\n")

list1:	 ['Jeevan', 'Venkataramana', 123, 1000]

## Deleting element in a list

In [240]:
list4= ['Jeevan','v',123,1000]
print(list4)
del list4[1:3]
print("list4:\t",list4,)
del list1[:]
print("Delete full list: ", list1 )

['Jeevan', 'v', 123, 1000]
list4:	 ['Jeevan', 1000]
Delete full list:  []

## Delete whole list

In [241]:
x = [1,2,3,4,5]
print(x)
x.clear()
print(x)

[1, 2, 3, 4, 5]
[]

## List Operations

### Length of list

In [242]:
list1=["Jeevan","Venkataramana",123,5000]
print(list1)
len(list1)

['Jeevan', 'Venkataramana', 123, 5000]

4

### List Concatenation

In [243]:
print("List1:\t",list1,"\n")
print("list2:\t",list2,"\n")
print("list1 + list2 :\t", list1+list2)

List1:	 ['Jeevan', 'Venkataramana', 123, 5000]

list2:	 [1, 2, 3, 4, 5]

list1 + list2 :	 ['Jeevan', 'Venkataramana', 123, 5000, 1, 2, 3, 4, 5]

### List Repitition

In [244]:
print("List1 * 2:\t", list1*2)

List1 * 2:	 ['Jeevan', 'Venkataramana', 123, 5000, 'Jeevan', 'Venkataramana', 123, 5000]

### Membership : In and NotIn

In [245]:
print("Jeevan" in list1)

True

In [246]:
print("Jeevan" not in list1)

False

### Iteration

In [247]:
for i in list1: print(i)

Jeevan
Venkataramana
123
5000

## List Functions

### Length of list

In [248]:
print(list1)
print(len(list1))

['Jeevan', 'Venkataramana', 123, 5000]
4

### Maximum of List

In [249]:
print(list2)
print(max(list2))

[1, 2, 3, 4, 5]
5

### Minimum of List

In [250]:
print(list2)
print(min(list2))

[1, 2, 3, 4, 5]
1

### Convert tuple to a list

In [251]:
aTuple = (123, 'abc', 'jeevan')
print(type(aTuple))
list5=list(aTuple)
print("list5:\t", list5)

<class 'tuple'>
list5:	 [123, 'abc', 'jeevan']

## List Methods

### Append element

In [252]:
x=[1,2,1,1,5,6]
print(x)
x.append(7)
print(x)

[1, 2, 1, 1, 5, 6]
[1, 2, 1, 1, 5, 6, 7]

### Count of an element

In [253]:
x=[1,2,1,1,5,6]
print(x)
print(x.count(1))

[1, 2, 1, 1, 5, 6]
3

### Reverse a list

In [254]:
x=[1,2,1,1,5,6]
print(x)
x.reverse()
print(x)

[1, 2, 1, 1, 5, 6]
[6, 5, 1, 1, 2, 1]

### Remove an element - Removes 1st occurance of the element, error if not found

In [255]:
x=[1,2,1,1,5,6]
print(x)
x.remove(1)
print(x)

[1, 2, 1, 1, 5, 6]
[2, 1, 1, 5, 6]

In [256]:
x=[1,2,1,1,5,6]
print(x)
x.remove(7)
print(x)

[1, 2, 1, 1, 5, 6]

ValueError: list.remove(x): x not in list

### Index of search element

In [257]:
x=[1,2,1,1,5,6]
print(x)
print(x.index(2))

[1, 2, 1, 1, 5, 6]
1

### Insert an element at an index

In [258]:
x=[1,2,1,1,5,6]
print(x)
x.insert(2,7)                      # Insert(index,element)
print(x)

[1, 2, 1, 1, 5, 6]
[1, 2, 7, 1, 1, 5, 6]

### Pop element - Returns last element in the list

In [259]:
x=[1,2,1,1,5,6]
print(x)
print(x.pop())
print(x)

[1, 2, 1, 1, 5, 6]
6
[1, 2, 1, 1, 5]

### Pop with index

In [260]:
x=[1,2,1,1,5,6]
print(x)
print(x.pop(1))
print(x)

[1, 2, 1, 1, 5, 6]
2
[1, 1, 1, 5, 6]

### Sort list

In [261]:
x=[4,3,8,9,1,3,2]
print(x)
x.sort()
print(x)

[4, 3, 8, 9, 1, 3, 2]
[1, 2, 3, 3, 4, 8, 9]

### Shallow copy  copy() or list[:]

In [2]:
x= [1,2,3,4,5]
print(x)
y=x.copy()
print(y)
z=x[:]
print(z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### Interleaving sequence

In [7]:
x= [1,2,3,4,5]
print(x)
print(x[::2])
print(x[::3])

[1, 2, 3, 4, 5]
[1, 3, 5]
[1, 4]