## Defining a string

In [2]:
var1 = 'Hello world!'
var2 = "My name is Jeevan"
print(var1)
print(var2)

Hello world!
My name is Jeevan

### Updating a copy of string

In [3]:
print(var1[:6])

Hello

### String Concatenation

In [4]:
print(var1+var2)

Hello world!My name is Jeevan

### String repetition

In [5]:
print(var1*2)

Hello world!Hello world!

### String extraction

In [6]:
print(var1[0])

H

### String slice

In [7]:
print(var1[0:4])

Hell

In [8]:
print(var1[:4])

Hell

In [9]:
print(var1[4:])

o world!

### Character search in string :   in or not in

In [10]:
print("H" in var1)

True

In [11]:
print("h" in var1)

False

In [12]:
print("Jeevan" in var2)

True

In [13]:
print("Jeevan" not in var2)

False

### Print Raw String

In [14]:
print(r'\n')

\n

### String Formatting Operator

In [15]:
print("My name is %s and my age is %d" %("jeevan",25))

My name is jeevan and my age is 25

### Format specifier
<br>%d --> signed decimal integer
<br>%i --> signed decimal integer
<br>%u --> unsigned decimal integer
<br>%o --> octal integer
<br>%x --> hexa decimal integer -- lower case
<br>%X --> hexa decimal integer -- upper case
<br>%c --> character
<br>%s --> string
<br>%e --> exponential notation
<br>%E --> exponential notation -- with uppercase
<br>%f --> floating point real number
<br>%g --> shorter version of %f and %e

In [16]:
print("%g" %(3.455677888889))

3.45568

### Triple Quotes

In [17]:
para_str = """this is a long string that is made up of
several lines and non-printable characters such as
TAB ( \t ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [ \n ], or just a NEWLINE within
the variable assignment will also show up.
"""
print(para_str)

this is a long string that is made up of
several lines and non-printable characters such as
TAB ( 	 ) and they will show up that way when displayed.
NEWLINEs within the string, whether explicitly given like
this within the brackets [
 ], or just a NEWLINE within
the variable assignment will also show up.

## String Operations

### Length of a string

In [18]:
print(var1)
print(len(var1))

Hello world!
12

### Count occurances of a substring

In [19]:
var1.count("o",0, len(var1))

2

In [20]:
var1.count("Hello",0, len(var1))

1

### Find occurance of substring in string

In [21]:
var3="Jeevan"
print(var2," ", var3)
print(var2.find(var3, 0, len(var2)))
print(var2.find(var3))

My name is Jeevan   Jeevan
11
11

In [22]:
print(var2.find("Rahul", 0, len(var2)))

-1

### Find Occurance by reversing the string

In [23]:
var4 = "My name is Jeevan and my age is 25"
var5 = "is"
print(var4," ", var5)
print(var4.rfind(var5, 0, len(var4)))
print(var4.find(var5))

My name is Jeevan and my age is 25   is
29
8

### Index

In [24]:
print(var2.index(var3))

11

In [25]:
print(var2.index("abc"))                 #similar to find but raises an exception if substring not found

ValueError: substring not found

### Reverse

In [26]:
temp="jeevan"
print(temp[::-1])

naveej

### rIndex print index when searched from reversing the string

In [27]:
print(var4.rindex("is"))

29

### Startswith -- boolean Search of substring

In [28]:
x = "my name is jeevan"
print(x.startswith("my"))
print(x.startswith("is", 8, len(x)))

True
True

### Split  - str.split(split_character, no of splits)

In [29]:
x="My name is jeevan"
print(x.split(" "))

['My', 'name', 'is', 'jeevan']

In [30]:
print(x.split(" ", 2))         #splits the charcters untill 2 spaces found

['My', 'name', 'is jeevan']

### Splitlines - returns a line with all the lines in the string

In [31]:
x="My name is jeevan.\n My age is 25.\n I am a Engineer"
print(x.splitlines())

['My name is jeevan.', ' My age is 25.', ' I am a Engineer']

### Max and Min

In [32]:
print(var2)
print(max(var2),"\n")        #highest character
x="mynameisJeevan"
print(x)
print(min(x))               #minimal character high - small letters, big letters, special characters

My name is Jeevan
y

mynameisJeevan
J

### Replace string    str.replace(old,new,maxcount)

In [33]:
y=var2
print(y)
y = y.replace("Jeevan","Venkataramana")
print(y)

My name is Jeevan
My name is Venkataramana

In [34]:
x="My.Name.Is.Jeevan"
print(x)
x=x.replace("."," ",3)
print(x)

My.Name.Is.Jeevan
My Name Is Jeevan

### Is Alpha Numeric

In [35]:
var6="jeevan123"
print(var2)
print(var2.isalnum(),"\n")
print(var6)
print(var6.isalnum())

My name is Jeevan
False

jeevan123
True

### Is Alpha - No spaces

In [36]:
print(var2)
print(var2.isalpha(),"\n")
print(var3)
print(var3.isalpha())

My name is Jeevan
False

Jeevan
True

### Is Digit

In [37]:
print(var6)
print(var6[6].isdigit())

jeevan123
True

### Is Decimal

In [38]:
print(var6)
print(var6[6].isdecimal())
print(var6.isdecimal())

jeevan123
True
False

### Is Numeric - return true if all characters in string are numeric

In [39]:
print(var6)
print(var6.isnumeric(), "\n")
var7="123"
print(var7)
print(var7.isnumeric())

jeevan123
False

123
True

### Is Upper and Is Lower

In [40]:
print(var3)
print(var3[0].isupper())
print(var3.isupper(),"\n")
print(var6)
print(var6.islower())

Jeevan
True
False

jeevan123
True

### Is Space

In [41]:
print(var2)
print(var2[2].isspace())

My name is Jeevan
True

### Is Title

In [42]:
print(var2)
print(var2.istitle(), "\n")
var8 = "My Name Is Jeevan"
print(var8)
print(var8.istitle())

My name is Jeevan
False

My Name Is Jeevan
True

### Upper

In [43]:
print(var8)
print(var8.upper())

My Name Is Jeevan
MY NAME IS JEEVAN

### Lower

In [44]:
print(var8)
print(var8.lower())

My Name Is Jeevan
my name is jeevan

### Swap Case - converts all uppercase to lower and all lower to upper

In [45]:
print(var8)
print(var8.swapcase())

My Name Is Jeevan
mY nAME iS jEEVAN

### Title   covert a string to a title string

In [46]:
print(var2)
print(var2.title())

My name is Jeevan
My Name Is Jeevan

### Just

### str.rjust(max_len, character) - Fill right end of string with character

In [47]:
var2.rjust(23,"0")

'000000My name is Jeevan'

### str.ljust(max_len, character) - Fill right end of string with character

In [48]:
print(var2.ljust(23,"0"))

My name is Jeevan000000

### rStrip - remove spaces to the right

In [49]:
str = "000000My name is jeevan00000000"
print(str)
print(str.rstrip('0'))             #default spaces are removed on the right

000000My name is jeevan00000000
000000My name is jeevan

### lStrip - remove all leading characters

In [50]:
print(str.lstrip('0'))

My name is jeevan00000000

### Strip character given - Removes only at the ends

In [51]:
print(str.strip('0'))

My name is jeevan

### join - join a sequence with given string

In [52]:
str="-"
str1=["my","name","is","jeevan"]
print(str.join(str1))

my-name-is-jeevan

### Capitalize

In [53]:
str1="my name is jeevan"
print(str1)
print(str1.capitalize())

my name is jeevan
My name is jeevan

### Center String -- str.center(max_width, character)

In [54]:
str1="my name is jeevan"
print(str1.center(40,"*"))

***********my name is jeevan************

### Zero Fill

In [55]:
x="My name is jeevan"
print(x.zfill(40))

00000000000000000000000My name is jeevan