# Tuples

### Tuples are similar to lists. tuples cannot be changed unlike lists and tuples use parentheses

## Tuple creation

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

In [2]:
print(tup1)
print(tup2)
print(tup3)

('physics', 'chemistry', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')

## Empty Tuple

In [3]:
tup=()

## Writing single value

In [4]:
tup4=(1,)
print(tup4)

(1,)

## Accessing values of tuple

In [5]:
tup1=('physics', 'chemistry', 1997, 2000)
print(tup1)
print(tup1[1])
print(tup1[:])
print(tup1[1:4])

('physics', 'chemistry', 1997, 2000)
chemistry
('physics', 'chemistry', 1997, 2000)
('chemistry', 1997, 2000)

## Updating tuples -- Immutable -> cannot change or update values of tuple elements

In [6]:
tup1=('physics', 'chemistry', 1997, 2000)
tup2=('History','Geography',2001,2004)
tup3 = tup1 + tup2
print(tup3)

('physics', 'chemistry', 1997, 2000, 'History', 'Geography', 2001, 2004)

## Delete tuple elements - not possible

In [7]:
tup=('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

## Tuple Operations

### Length

In [8]:
tup1=("jeevan","venkataramana",100,98)
print(len(tup1))

4

### Concatenation

In [9]:
tup1=("jeevan","venkataramana","Male",25)
tup2=("SJSU","CMPE",2017,3.3)
tup3=tup1+tup2
print(tup3)

('jeevan', 'venkataramana', 'Male', 25, 'SJSU', 'CMPE', 2017, 3.3)

### Repitition

In [10]:
tup1=("jeevan","venkataramana","Male",25)
tup1=tup1*2
print(tup1)

('jeevan', 'venkataramana', 'Male', 25, 'jeevan', 'venkataramana', 'Male', 25)

### Membership - In or NotIn

In [11]:
tup1=("jeevan","venkataramana","Male",25)
print("jeevan" in tup1)

True

### Iteration

In [12]:
tup1=("jeevan","venkataramana","Male",25)
for x in tup1: print(x)

jeevan
venkataramana
Male
25

### Indexing

In [13]:
tup1=("jeevan","venkataramana","Male",25)
print(tup1[0])
print(tup1[-2])
print(tup1[:])
print(tup1[1:])
print(tup1[-2:])
print(tup1[:2])

jeevan
Male
('jeevan', 'venkataramana', 'Male', 25)
('venkataramana', 'Male', 25)
('Male', 25)
('jeevan', 'venkataramana')

### Max and min

In [14]:
tup1=(23,24,26,25)
print(max(tup1))
print(min(tup1))

26
23

### Tuple() -- converts a list into tuple

In [15]:
aList = [123, 'xyz', 'zara', 'abc']
aList = tuple(aList)
print(type(aList))

<class 'tuple'>